*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #06283D;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cloudy-background {
    background-image: url('images/clouds.gif');
    
}

.clear-background {
    background-image: url('images/clear.gif');
}

.rain-background {
    background-image: url('images/rain.gif');
}

.snow-background {
    background-image: url('images/snow.gif');
}

.mist-background {
    background-image: url('images/mist.gif');
}

.animation {
    display: inline-block;
}

.text1 {
    font-size: 30px;
    color: #fff;
    letter-spacing: 5px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 6s steps(57),
        cursor .4s step-end infinite alternate,
        fadeOut 1s 7s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes cursor {
    50% { border-color: transparent }
}

@keyframes typing {
    from { width: 0 }
}

@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes slideOutToTop {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
  

.menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #06283D;
    background-color: #fff;
    padding: 10px;
    z-index: 1000;
    justify-content: center;
}

ul {
    display: flex;
    padding-left: 0;
    justify-content: center;
}

ul li {
    list-style: none;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 15px;
}

ul li a {
    text-decoration: none;
    color: #06283D;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    padding: 8px 16px;
}

ul li a:hover {
    color: #798085;
}

.wrapper {
    margin-left: auto;
    margin-top: 8px;
    font-size: 17px;
    color: #06283D;
    font-weight: bold;
    font-family: Arial;
} 

.container{
    position: absolute;
    display: none;
    width: 400px;
    height: 105px;
    background: #fff;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
    animation: slideInFromBottom 2s ease forwards;
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box input{
    color: #06283D;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
}

.search-box input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: #06283D;
    text-transform: capitalize;
}

.search-box button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #06283D;
    background: #dff6ff;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.search-box button:hover{
    color: #fff;
    background: #06283D;
}

.search-box i{
    position: absolute;
    color: #06283D;
    font-size: 28px;
}

.weather-box{
    text-align: center;
}

.weather-box img{
    width: 60%;
    margin-top: 30px;
}

.weather-box .temperature{
    position: relative;
    color: #06283D;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.weather-box .temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .description{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.weather-details .humidity, .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i{
    color: #06283D;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details span{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p{
    color: #06283D;
    font-size: 14px;
    font-weight: 500;
}

.not-found{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    opacity: 0;
    display: none;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-box, .weather-details{
    opacity: 0;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        opacity: 1;
    }
}
